.player {
  border: 1px solid #444;
  transition: color 125ms ease-in-out;
  background: white;
  position: relative;
  padding: 1.8rem;
  z-index: 5;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}
.player__control {
  margin-right: 1.2rem;
  min-width: 6rem;
  transition: fill 125ms ease-in-out;
}
.player__control__icon {
  cursor: pointer;
  display: inline-block;
  margin-right: 0.4rem;
}
.player__control__icon--play {
}
.player__control__icon--pause {
  fill: #f50;
}
.player__track--active {
  border-color: #a2a2a2;
  background: white;
  z-index: 10;
}
.player__display {
  flex: 1 1 100%;
  margin-bottom: 0;
}
.player__progress {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
}
.player__progress__position {
  text-align: right;
  margin-right: 1rem;
  margin-left: 0;
  font-feature-settings: tnum;
}
.player__progress__time {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1rem;
  color: #444;
  flex: 0 1 auto;
  vertical-align: middle;
}
.player__progress__bar {
  flex: 1 1 auto;
  width: 100%;
  display: block;
  padding: 0.5rem 0;
  margin: 0 0.5rem;
}
.player__progress__bar--container {
  cursor: pointer;
  display: block;
  position: relative;
  width: 100%;
  height: .4rem;
  background: #eee;
  border-radius: 2px;
  overflow: hidden;
  transform: translateZ(0);
}
.player__progress__bar--percent {
  transition: transform .2s;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #f50;
  display: block;
}
.player__progress__bar--progress {
  background: pink;
}
